<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/style/flowers.css">
</head>
<body>
    <nav>
        <img src="../static/images/icon.png" alt="Icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="../template/test.html">Home</a></li>
            <li><a href="../template/root.html">Root</a></li>
            <li><a href="../template/leaves.html">Leaf</a></li>            
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Common Flowering Plants</strong>
                <li>Daisy</li>
                <li>Sunflower</li>
            </ul>
        </aside>
        <div class="main">
            <h2>Flowers</h2>
            <img src="../static/images/flowers.jpg" alt="Flower image">
            <p>
                In general, foliage plants grow best between 70 degrees and 80 degrees F. during the day and between 60 degrees to 68 degrees F. at night. Most flowering plants prefer the same daytime temperature range, but grow best when nighttime temperatures range from 55 degrees to 60 degrees F.
                Ideal NPK fertilizer ratio of those nutrients for flowering plants is 3-1-2. 
                Phosphorous helps root develop which helps flowers later on                
            </p>
        </div>
    </div><!--End of Container-->           
</body>
</html>
