<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/style/flowers.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../template/test.html">Home</a></li>
            <li><a href="../template/root.html">Root</a></li>
            <li><a href="../template/leaves.html">Leaf</a></li>            
        </ul>
    </nav>
    <header>
        <h1>Let It Grow</h1>
    </header>
    
</body>
</html>
