<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/style/leaves.css">
</head>
<body>
    <nav>
        <img src="../static/images/icon.png" alt="icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="../template/test.html">Home</a></li>
            <li><a href="../template/root.html">Root</a></li>
            <li><a href="../template/flowers.html">Flower</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Common Leaf Vegetables</strong>
                <li>Lettuce</li>
                <li>Spinach</li>
            </ul>
        </aside>
        <div class="main">
            <h2>Leaves</h2>
            <img src="../static/images/leafVeg.jpeg" alt="Leafy image">
            <p>
                Leafy greens grow best in open, level areas where the soil is loose, rich, and well-drained. Although leafy crops tolerate shade better than plants grown for their fruits or roots, at least six hours of sunshine daily will help ensure a high-quality harvest. Avoid planting leafy greens in heavy clay or sandy soils.
                Leafy vegetables generally have quite high requirements for both phosphorous (P) and potassium (K) and rather low requirements for nitrogen (N). K requirement is often double the requirement of N.            
            </p>
        </div>
    </div><!--End of Container-->       
</body>
</html>
