<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style/header.css">
        <link rel="logo" href="../static/logo.png"/>
        <title>Let it Grow</title>
    </head>
    <body>
        <header>
            <div class="icon"></div>
        </header>
        <div class="container">
            <section class="filters">
                <div class="selection">
                    <button title="root"> Root </button>
                    <button title="flower"> Flower </button>
                    <button title="leaf"> Leaf </button>
                </div>
            </section>
        </div>
    </body>
</html>