<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/plant_dynamic.css?{{ cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/root.js?{{cache_id }}"></script>
</head>
<body>
    <nav>
        <img src="../static/images/icon.png" alt="icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/leaf">Leaf</a></li>
            <li><a href="http://127.0.0.1:5000/root">Root</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Flowers</strong>
                {% for sp in species %}
                {% if sp.plant_id == "f1246833-e566-466c-af56-af007e794e44" %}
                <li><a href="#"> {{sp.name}} </a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </aside>
        <div class="main">
            <h2>Flowers</h2>
            <img src="../static/images/flowers.jpg" alt="Root image">
            <p>
                In general, foliage plants grow best between 22 degrees and 27 degrees C, Most flowering plants prefer the same daytime temperature range, but grow best when nighttime temperatures range from 13 degrees to 16 degrees C.
                Ideal NPK fertilizer ratio of those nutrients for flowering plants is 3-1-2. 
                Phosphorous helps root develop which helps flowers grow later on.
            </p>
        </div>
    </div><!--End of Container-->
    <div class="dropdown">
        <button>Ailments</button>
        <div class="dropdown-options">
          <a href="#">Powdery Mildew</a>
          <a href="#">Wilt</a>
          <a href="#">Black Spot</a>
        </div>
      </div>       
</body>
</html>
