<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/plant_dynamic.css?{{ cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/root.js?{{cache_id }}"></script>
</head>
<body>
    <nav>
        <img src="../static/images/icon.png" alt="icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/flower">Flower</a></li>
            <li><a href="http://127.0.0.1:5000/root">Root</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Leafy Vegetables</strong>
                {% for sp in species %}
                {% if sp.plant_id == "3be966b2-0d15-488f-a888-af687cb98125" %}
                <li><a href="#"> {{sp.name}} </a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </aside>
        <div class="main">
            <h2>Leafy Vegetables</h2>
            <img src="../static/images/leafVeg.jpeg" alt="Root image">
            <p>
                Leafy greens grow best in open, level areas where the soil is loose, rich, and well-drained. Although leafy crops tolerate shade better than plants grown for their fruits or roots, at least six hours of sunshine daily will help ensure a high-quality harvest. Avoid planting leafy greens in heavy clay or sandy soils.
                Leafy vegetables generally have quite high requirements for both phosphorous (P) and potassium (K) and rather low requirements for nitrogen (N). K requirement is often double the requirement of N.            
            </p>
        </div>
    </div><!--End of Container-->
    <div class="dropdown">
        <button>Ailments</button>
        <div class="dropdown-options">
          <a href="#">Powdery Mildew</a>
          <a href="#">Wilt</a>
          <a href="#">Black Spot</a>
        </div>
      </div>       
</body>
</html>
