<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/plant_dynamic.css?{{cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/root.js?{{cache_id}}"></script>
</head>
<body>
    <nav>
        <img src="../static/images/icon.png" alt="icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/leaf">Leaf</a></li>
            <li><a href="/flower">Flower</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Root Vegetables</strong>
                <li><a href="/root/beetroot"> Beetroot </a></li>
                <li><a href="/root/garlic"> Garlic </a></li>
                <li><a href="/root/ginger"> Ginger </a></li>
                <li><a href="/root/onions"> Onions </a></li>
                <li><a href="/root/parsnip"> Parsnip </a></li>
                <li><a href="/root/potato"> Potato </a></li>
                <li><a href="/root/radish"> Radish </a></li>
                <li><a href="/root/sweetpotato"> Sweet Potato </a></li>
                <li><a href="/root/taro"> Taro </a></li>
                <li><a href="/root/turnip"> Turnip </a></li>                
            </ul>
        </aside>
        <div class="main">
            <h2>Roots</h2>
            <img src="../static/images/veggies.jpeg" alt="Root image">
            <p>
                Root vegetables flourish in well-drained, deep, loose soil where their roots can easily expand. Root crops generally grow well in sandy loam and peat soil, and they tend to struggle in clay soils.
                The optimal soil pH for root growth is between 6 and 7.
                Most root vegetables need at least six hours of direct sunlight per day.
                Roots need extra phosphorus (the P in N-P-K), which can be found in bone meal, wood ashes, and rock phosphate. Incorporate high quality compost or well-rotted manure for good drainage, air circulation, and slow release nutrients
            </p>
        </div>
    </div><!--End of Container-->
    <div class="dropdown">
        <button>Ailments</button>
        <div class="dropdown-options">
          <a href="#">Powdery Mildew</a>
          <a href="#">Wilt</a>
          <a href="#">Black Spot</a>
        </div>
      </div>       
</body>
</html>
