<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let it Grow</title>
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/plant_dynamic.css?{{ cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/root.js?{{cache_id }}"></script>
</head>
<body>
    <nav>
        <img src="../static/images/logo.png" alt="icon image">
        <h1>Let It Grow</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/leaf">Leaf</a></li>
            <li><a href="http://127.0.0.1:5000/flower">Flower</a></li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <ul> <strong>Root Vegetables</strong>
                <li><a href="http://127.0.0.1:5000/root/beetroot"> Beetroot </a></li>
                <li><a href="http://127.0.0.1:5000/root/garlic"> Garlic </a></li>
                <li><a href="http://127.0.0.1:5000/root/ginger"> Ginger </a></li>
                <li><a href="http://127.0.0.1:5000/root/onions"> Onions </a></li>
                <li><a href="http://127.0.0.1:5000/root/parsnip"> Parsnip </a></li>
                <li><a href="http://127.0.0.1:5000/root/potato"> Potato </a></li>
                <li><a href="http://127.0.0.1:5000/root/radish"> Radish </a></li>
                <li><a href="http://127.0.0.1:5000/root/sweetpotato"> Sweet Potato </a></li>
                <li><a href="http://127.0.0.1:5000/root/taro"> Taro </a></li>
                <li><a href="http://127.0.0.1:5000/root/turnip"> Turnip </a></li>  
            </ul>
        </aside>
        <div class="main">
            {% for sp in species %}
            {% if sp.id == name_id %}
            <h2>{{sp.name}}</h2>
            <img src="../static/images/{{image}}" alt="Root image">
            <p> {{sp.description}} </p>
            {% endif %}
            {% endfor %}
        </div>
    </div><!--End of Container-->
    <div class="dropdown">
        <button>Ailments</button>
        <div class="dropdown-options">
          <button id="powderyMildew">Powdery Mildew</button>
          <button>Wilt</button>
          <button>Black Spot</button>
        </div>
      </div>
      <div id="ailment">

      </div>       
</body>
</html>
